<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <h2>Html Dosyası Ürün sayfası</h2>
        Talep Edilen Ürün id: <b><%=itemRequested%></b>
    </body>
</html>
